App_WebReferences/FundReturn/user.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AVCCalculator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lifeStyle" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="retirementAge" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rsabalance" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="monthContribution" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dob" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="txtFinalSalary" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="txtSex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="txtFood" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="txtHousing" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="txtTransportation" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="txtHealth" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="txtFinancial" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="txtOthers" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="freq" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AVCCalculatorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AVCCalculatorResult" type="tns:AVCSimulationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AVCSimulationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LumpSum" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LifeStyle" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FVContribution" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RSABalance" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="getReturns">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_valueDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReturnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReturnsResult" type="tns:ArrayOfFundReturns" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFundReturns">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FundReturns" nillable="true" type="tns:FundReturns" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FundReturns">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FundName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valuedate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CurUnitPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="OpeningUnitPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="YearToDate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Annualized" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserValidation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserValidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserValidationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AVCCalculatorSoapIn">
    <wsdl:part name="parameters" element="tns:AVCCalculator" />
  </wsdl:message>
  <wsdl:message name="AVCCalculatorSoapOut">
    <wsdl:part name="parameters" element="tns:AVCCalculatorResponse" />
  </wsdl:message>
  <wsdl:message name="getReturnsSoapIn">
    <wsdl:part name="parameters" element="tns:getReturns" />
  </wsdl:message>
  <wsdl:message name="getReturnsSoapOut">
    <wsdl:part name="parameters" element="tns:getReturnsResponse" />
  </wsdl:message>
  <wsdl:message name="UserValidationSoapIn">
    <wsdl:part name="parameters" element="tns:UserValidation" />
  </wsdl:message>
  <wsdl:message name="UserValidationSoapOut">
    <wsdl:part name="parameters" element="tns:UserValidationResponse" />
  </wsdl:message>
  <wsdl:portType name="UserSoap">
    <wsdl:operation name="AVCSimulator">
      <wsdl:input name="AVCCalculator" message="tns:AVCCalculatorSoapIn" />
      <wsdl:output name="AVCCalculator" message="tns:AVCCalculatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFundReturns">
      <wsdl:input name="getReturns" message="tns:getReturnsSoapIn" />
      <wsdl:output name="getReturns" message="tns:getReturnsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input name="UserValidation" message="tns:UserValidationSoapIn" />
      <wsdl:output name="UserValidation" message="tns:UserValidationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserSoap" type="tns:UserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AVCSimulator">
      <soap:operation soapAction="http://tempuri.org/AVCCalculator" style="document" />
      <wsdl:input name="AVCCalculator">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AVCCalculator">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFundReturns">
      <soap:operation soapAction="http://tempuri.org/getReturns" style="document" />
      <wsdl:input name="getReturns">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReturns">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/UserValidation" style="document" />
      <wsdl:input name="UserValidation">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UserValidation">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserSoap12" type="tns:UserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AVCSimulator">
      <soap12:operation soapAction="http://tempuri.org/AVCCalculator" style="document" />
      <wsdl:input name="AVCCalculator">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AVCCalculator">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFundReturns">
      <soap12:operation soapAction="http://tempuri.org/getReturns" style="document" />
      <wsdl:input name="getReturns">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReturns">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://tempuri.org/UserValidation" style="document" />
      <wsdl:input name="UserValidation">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UserValidation">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="UserSoap" binding="tns:UserSoap">
      <soap:address location="http://p-midas2.pensure-nigeria.com/webService/user.asmx" />
    </wsdl:port>
    <wsdl:port name="UserSoap12" binding="tns:UserSoap12">
      <soap12:address location="http://p-midas2.pensure-nigeria.com/webService/user.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>