App_WebReferences/wsClients/Clients.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ClientByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClientByNameSoapIn">
    <wsdl:part name="parameters" element="tns:ClientByName" />
  </wsdl:message>
  <wsdl:message name="ClientByNameSoapOut">
    <wsdl:part name="parameters" element="tns:ClientByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientsSoap">
    <wsdl:operation name="getClients">
      <wsdl:input name="ClientByName" message="tns:ClientByNameSoapIn" />
      <wsdl:output name="ClientByName" message="tns:ClientByNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientsSoap" type="tns:ClientsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClients">
      <soap:operation soapAction="http://tempuri.org/ClientByName" style="document" />
      <wsdl:input name="ClientByName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ClientByName">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientsSoap12" type="tns:ClientsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClients">
      <soap12:operation soapAction="http://tempuri.org/ClientByName" style="document" />
      <wsdl:input name="ClientByName">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ClientByName">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Clients">
    <wsdl:port name="ClientsSoap" binding="tns:ClientsSoap">
      <soap:address location="http://localhost:16974/webServices/Clients.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientsSoap12" binding="tns:ClientsSoap12">
      <soap12:address location="http://localhost:16974/webServices/Clients.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>