App_WebReferences/wsUser/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UserValidationPM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserValidationPMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserValidationPMResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserValidation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserValidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserValidationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserValidationPMSoapIn">
    <wsdl:part name="parameters" element="tns:UserValidationPM" />
  </wsdl:message>
  <wsdl:message name="UserValidationPMSoapOut">
    <wsdl:part name="parameters" element="tns:UserValidationPMResponse" />
  </wsdl:message>
  <wsdl:message name="UserValidationSoapIn">
    <wsdl:part name="parameters" element="tns:UserValidation" />
  </wsdl:message>
  <wsdl:message name="UserValidationSoapOut">
    <wsdl:part name="parameters" element="tns:UserValidationResponse" />
  </wsdl:message>
  <wsdl:portType name="UserSoap">
    <wsdl:operation name="ValidateForPM">
      <wsdl:input name="UserValidationPM" message="tns:UserValidationPMSoapIn" />
      <wsdl:output name="UserValidationPM" message="tns:UserValidationPMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input name="UserValidation" message="tns:UserValidationSoapIn" />
      <wsdl:output name="UserValidation" message="tns:UserValidationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserSoap" type="tns:UserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateForPM">
      <soap:operation soapAction="http://tempuri.org/UserValidationPM" style="document" />
      <wsdl:input name="UserValidationPM">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UserValidationPM">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/UserValidation" style="document" />
      <wsdl:input name="UserValidation">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UserValidation">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserSoap12" type="tns:UserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateForPM">
      <soap12:operation soapAction="http://tempuri.org/UserValidationPM" style="document" />
      <wsdl:input name="UserValidationPM">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UserValidationPM">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://tempuri.org/UserValidation" style="document" />
      <wsdl:input name="UserValidation">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UserValidation">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="UserSoap" binding="tns:UserSoap">
      <soap:address location="http://localhost:16974/webServices/User.asmx" />
    </wsdl:port>
    <wsdl:port name="UserSoap12" binding="tns:UserSoap12">
      <soap12:address location="http://localhost:16974/webServices/User.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>